:root {
  --phnewsmag-primary: #fe5825;
  --phnewsmag-primary-text: #f9ffe7;
  --phnewsmag-background-main: #ffffff;
  --phnewsmag-background-darker: #eaeaea;
  --phnewsmag-secondary: #fd4f18;
  --phnewsmag-secondary-dark: #33202a;
  --phnewsmag-secondary-text: #FFF;
  --phnewsmag-text-dark: #111;
  --phnewsmag-text: #555;
  --phnewsmag-text-light: #777;
  --phnewsmag-header-background: #fff;
  --phnewsmag-header-lighter: #222;
  --phnewsmag-header-text: #FFFFFF;
  --phnewsmag-menu-text: #ff582e;
  --phnewsmag-title-text: #fe5825;
  --phnewsmag-top-bar-text: #777777;
  --phnewsmag-top-bar-background: #000;
  --phnewsmag-mobile-header-background: #FFFFFF;
  --phnewsmag-mobile-header-text: #222222;
}
.owl-carousel .carousel-post {
  position: relative;
}
.owl-carousel .carousel-post .category-ribbon {
  position: absolute;
  top: 0px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  font-size: 11px;
  padding: 3px 6px;
  border-radius: 3px;
  text-transform: uppercase;
  line-height: 11px;
  z-index: 9;
}
.owl-carousel .carousel-post img {
  border-radius: 5px;
  display: inline-block;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.owl-carousel .carousel-post a {
  text-decoration: none;
}
.owl-carousel .carousel-post .entry-title {
  font-size: 16px;
  color: var(--phnewsmag-text-dark);
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.5em;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.owl-carousel .carousel-post .footer-meta {
  color: var(--phnewsmag-text-light);
  font-size: 11px;
  text-transform: uppercase;
}
.owl-carousel .carousel-post:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.owl-carousel .carousel-post:hover .entry-title {
  color: var(--phnewsmag-primary);
}
.home .owl-carousel:nth-child(2) {
  margin-bottom: 35px;
}
.owl-dots.disabled {
  display: block !important;
  height: 35px;
}
.acme-news-ticker {
  margin-bottom: 45px;
  padding: 0;
  height: 40px;
  background: var(--phnewsmag-background-main);
  border: none;
}
.acme-news-ticker .acme-news-ticker-label {
  background: var(--phnewsmag-secondary);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  padding: 12px 15px;
  margin-right: 0;
  color: var(--phnewsmag-secondary-text);
}
.acme-news-ticker .acme-news-ticker-box {
  padding-top: 6px;
  border: solid 1px var(--phnewsmag-background-darker);
  padding-left: 15px;
}
.acme-news-ticker li a {
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--phnewsmag-text-dark);
  display: inline-block;
}
.acme-news-ticker li a .footer-meta {
  display: inline;
  opacity: 0.8;
  color: var(--phnewsmag-text-light);
  letter-spacing: 0;
  font-size: 12px;
  text-transform: uppercase;
}
.acme-news-ticker .acme-news-ticker-controls {
  border: solid 1px var(--phnewsmag-background-darker);
}
.acme-news-ticker .acme-news-ticker-controls button {
  background: var(--phnewsmag-background-darker);
  border: none;
  color: var(--phnewsmag-text);
}
.acme-news-ticker .acme-news-ticker-controls button:hover {
  background: var(--phnewsmag-secondary);
  color: var(--phnewsmag-secondary-text);
}
.acme-news-ticker .acme-news-ticker-controls button:after,
.acme-news-ticker .acme-news-ticker-controls button:before {
  border-color: var(--phnewsmag-text) !important;
}
.acme-news-ticker .acme-news-ticker-controls button.acme-news-ticker-prev:after {
  top: 54%;
}
.acme-news-ticker .acme-news-ticker-controls button.acme-news-ticker-next:after {
  top: 46%;
}
@media screen and (max-width: 767px) {
  .acme-news-ticker-box ul li {
    width: 100%;
  }
  .acme-news-ticker-box ul li a {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 12px;
  }
  .acme-news-ticker-box ul li a .footer-meta {
    display: none;
  }
  .acme-news-ticker .acme-news-ticker-box {
    padding-top: 10px;
  }
  .acme-news-ticker-controls button {
    width: 25px;
  }
}
@media (max-width: 575px) {
  .acme-news-ticker-box {
    padding-left: 5px;
    padding-right: 80px;
  }
  .acme-news-ticker .acme-news-ticker-label {
    top: -24px;
    padding: 5px 10px;
    height: auto;
  }
  .acme-news-ticker {
    margin-bottom: 25px;
    margin-top: 25px;
  }
}
.featured-module {
  margin: 60px 0;
}
.featured-module .module-title-style1 {
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 35px;
}
.featured-module .module-title-style1 h2 {
  padding-bottom: 25px;
  margin-bottom: 0;
  border-bottom: solid 2px var(--phnewsmag-background-darker);
  font-size: 24px;
}
.featured-module .module-title-style1 span {
  position: relative;
  background: var(--phnewsmag-secondary);
  color: var(--phnewsmag-secondary-text);
}
.featured-module .module-title-style1 span:after {
  content: "";
  width: 80%;
  position: absolute;
  height: 2px;
  background: var(--phnewsmag-primary);
  left: 10%;
  top: 56px;
}
.featured-module .module-title-style2,
.featured-module .cat-title {
  text-align: center;
  width: 100%;
  display: block;
  margin-bottom: 35px;
}
.featured-module .module-title-style2 h2,
.featured-module .cat-title h2 {
  margin-bottom: 0;
  position: relative;
  line-height: 16px;
}
.featured-module .module-title-style2 h2:after,
.featured-module .cat-title h2:after {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  background: var(--phnewsmag-background-darker);
  top: 50%;
  left: 0;
  z-index: 0;
}
.featured-module .module-title-style2 span,
.featured-module .cat-title span {
  position: relative;
  background: var(--phnewsmag-secondary);
  color: var(--phnewsmag-secondary-text);
  padding: 8px 9px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  z-index: 1;
  -webkit-transform: skewX(-22deg);
          transform: skewX(-22deg);
}
.featured-module:nth-of-type(n+2) {
  margin-top: 30px;
}
.featured-module:nth-of-type(n+3) {
  margin-top: 0px;
}
.featured-module:first-child {
  margin-top: 10px;
}
@media screen and (max-width: 767px) {
  .featured-module {
    padding: 0;
  }
}
.featured-module-style1 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.featured-module-style1 .featured-post {
  position: relative;
}
.featured-module-style1 .featured-post .category-ribbon {
  position: absolute;
  top: 5px;
  left: 17px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  z-index: 99;
  text-decoration: none;
  opacity: 0.8;
}
.featured-module-style1 .big,
.featured-module-style1 .small {
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.featured-module-style1 .big img,
.featured-module-style1 .small img {
  width: 100%;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style1 .big .entry-title,
.featured-module-style1 .small .entry-title,
.featured-module-style1 .big .footer-meta,
.featured-module-style1 .small .footer-meta {
  position: absolute;
  padding-left: 15px;
  z-index: 6;
  color: var(--phnewsmag-primary-text);
}
.featured-module-style1 .big .entry-title,
.featured-module-style1 .small .entry-title {
  bottom: 25px;
  font-size: 24px;
  width: 80%;
}
.featured-module-style1 .big .footer-meta,
.featured-module-style1 .small .footer-meta {
  bottom: 0;
  padding-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--phnewsmag-primary-text);
}
.featured-module-style1 .big .box-shadow,
.featured-module-style1 .small .box-shadow {
  background: linear-gradient(45deg, black, transparent);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 12px;
  right: 12px;
  z-index: 5;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.featured-module-style1 .big:hover .box-shadow,
.featured-module-style1 .small:hover .box-shadow {
  background: linear-gradient(-45deg, var(--phnewsmag-primary), transparent);
}
.featured-module-style1 .small .box-shadow {
  right: 12px;
}
.featured-module-style1 .small .entry-title {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .featured-module-style1 img {
    width: 100%;
  }
  .featured-module-style1 .big .box-shadow {
    right: 12px;
  }
  .featured-module-style1 .big .entry-title,
  .featured-module-style1 .small .entry-title {
    font-size: 16px;
    line-height: 1.45em;
  }
}
.featured-module-style2 a {
  text-decoration: none;
}
.featured-module-style2 a h2 {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.featured-module-style2 img {
  width: 100%;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style2 .featured-post {
  position: relative;
}
@media screen and (max-width: 767px) {
  .featured-module-style2 .featured-post {
    margin-bottom: 15px;
  }
}
.featured-module-style2 .featured-post:hover img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}
.featured-module-style2 .featured-post:hover a h2 {
  color: var(--phnewsmag-primary);
}
.featured-module-style2 .featured-post .category-ribbon {
  position: absolute;
  top: 0px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  z-index: 99;
}
.featured-module-style2 .entry-title {
  font-size: 24px;
  text-decoration: none;
  line-height: 1.5em;
  margin-top: 10px;
  color: var(--phnewsmag-text-dark);
}
.featured-module-style2 .footer-meta {
  font-size: 12px;
  text-transform: uppercase;
  color: var(--phnewsmag-text-light);
}
.featured-module-style3 .big {
  margin-bottom: 15px;
  position: relative;
}
.featured-module-style3 .big .category-ribbon {
  position: absolute;
  top: 0px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 11px;
  z-index: 99;
  text-decoration: none;
}
.featured-module-style3 .big a {
  display: block;
  color: #fff;
}
.featured-module-style3 .big .box-shadow {
  background: linear-gradient(1deg, rgba(249, 0, 0, 0.8), transparent, transparent);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.featured-module-style3 .big img {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  width: 100%;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style3 .big .footer-meta {
  position: absolute;
  bottom: 0;
  z-index: 6;
  padding: 5px 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.6;
}
.featured-module-style3 .big .entry-title {
  position: absolute;
  bottom: 15px;
  z-index: 6;
  padding: 5px 10px;
  font-size: 21px;
  line-height: 27px;
}
.featured-module-style3 .big:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style3 .small {
  border-bottom: solid 1px var(--phnewsmag-background-darker);
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.featured-module-style3 .small .featured-image {
  max-width: 85px;
}
.featured-module-style3 .small:last-child {
  border-bottom: none;
}
.featured-module-style3 .small a {
  text-decoration: none;
  display: block;
  overflow: auto;
  color: var(--phnewsmag-text-dark);
}
.featured-module-style3 .small img {
  max-width: 75px;
  height: auto;
  margin-right: 10px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style3 .small h2 {
  font-size: 16px;
  display: inline-block;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.featured-module-style3 .small .footer-meta {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  color: var(--phnewsmag-text-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featured-module-style3 .small .footer-meta a {
  display: inline-block;
}
.featured-module-style3 .small .footer-meta .category-text {
  color: var(--phnewsmag-primary-text);
  font-weight: 700;
  letter-spacing: 0;
  background: var(--phnewsmag-primary);
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 5px;
  line-height: 11px;
}
.featured-module-style3 .small:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style3 .small:hover a h2 {
  color: var(--phnewsmag-primary);
}
.featured-module-style3 .bigger {
  position: relative;
}
.featured-module-style3 .bigger .category-ribbon {
  position: absolute;
  top: 0px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  z-index: 99;
}
.featured-module-style3 .bigger a {
  text-decoration: none;
}
.featured-module-style3 .bigger a h2 {
  font-size: 36px;
  font-weight: bold;
  color: var(--phnewsmag-text-dark);
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.featured-module-style3 .bigger img {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  width: 100%;
}
.featured-module-style3 .bigger h2 {
  margin-top: 10px;
}
.featured-module-style3 .bigger .footer-meta {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.6;
  color: var(--phnewsmag-text-light);
}
.featured-module-style3 .bigger:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style3 .bigger:hover a h2 {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .featured-module-style3 .bigger {
    margin-bottom: 10px;
  }
  .featured-module-style3 .bigger a h2 {
    font-size: 26px;
  }
  .featured-module-style3 .big a h2 {
    font-size: 15px;
    line-height: 20px;
  }
  .featured-module-style3 .small img {
    max-width: 55px;
  }
  .featured-module-style3 .small .featured-image {
    max-width: 65px;
  }
  .featured-module-style3 .small h2 {
    font-size: 14px;
  }
  .featured-module-style3 .small .footer-meta {
    font-size: 9px;
  }
}
.featured-module-style4 {
  margin-bottom: 35px;
}
.featured-module-style4 a {
  text-decoration: none;
}
.featured-module-style4 a h2 {
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.featured-module-style4 img {
  width: 100%;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style4 .featured-post {
  position: relative;
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  .featured-module-style4 .featured-post {
    margin-bottom: 15px;
  }
}
.featured-module-style4 .featured-post:hover img {
  -webkit-filter: brightness(0.5);
          filter: brightness(0.5);
}
.featured-module-style4 .featured-post .category-ribbon {
  position: absolute;
  top: 0px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  z-index: 99;
}
.featured-module-style4 .featured-meta {
  position: absolute;
  bottom: 0;
  right: 12px;
  left: 12px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}
.featured-module-style4 .entry-title {
  font-size: 18px;
  text-decoration: none;
  line-height: 1.5em;
  margin-top: 10px;
  color: #fff;
}
.featured-module-style4 .footer-meta {
  font-size: 12px;
  text-transform: uppercase;
  color: #eee;
  opacity: 0.8;
}
@media screen and (max-width: 767px) and (min-width: 578px) {
  .featured-module-style4 .entry-title {
    font-size: 14px;
    line-height: 1.4em;
    margin-top: 0;
    margin-bottom: 0;
  }
  .featured-module-style4 .footer-meta {
    font-size: 10px;
  }
}
/* // featured area style 5 layot design */
.featured-module-style5 .big {
  margin-bottom: 15px;
  position: relative;
}
.featured-module-style5 .big .category-ribbon {
  position: absolute;
  top: 0;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  z-index: 99;
  text-decoration: none;
}
.featured-module-style5 .big a {
  display: block;
  color: #fff;
}
.featured-module-style5 .big .box-shadow {
  background: linear-gradient(1deg, rgba(249, 0, 0, 0.8), transparent, transparent);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.featured-module-style5 .big img {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  width: 100%;
}
.featured-module-style5 .big .footer-meta {
  position: absolute;
  bottom: 0;
  z-index: 6;
  padding: 5px 10px;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.6;
}
.featured-module-style5 .big .entry-title {
  position: absolute;
  bottom: 15px;
  z-index: 6;
  padding: 5px 10px;
  font-size: 21px;
  line-height: 27px;
}
.featured-module-style5 .big:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style5 .small {
  border-bottom: solid 1px var(--phnewsmag-background-darker);
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.featured-module-style5 .small .featured-image {
  max-width: 85px;
}
.featured-module-style5 .small:last-child {
  border-bottom: none;
}
.featured-module-style5 .small a {
  text-decoration: none;
  display: block;
  overflow: auto;
  color: var(--phnewsmag-text-dark);
}
.featured-module-style5 .small img {
  max-width: 75px;
  height: auto;
  margin-right: 10px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style5 .small h2 {
  font-size: 16px;
  display: inline-block;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.featured-module-style5 .small .footer-meta {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  color: var(--phnewsmag-text-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featured-module-style5 .small .footer-meta a {
  display: inline-block;
}
.featured-module-style5 .small .footer-meta .category-text {
  color: var(--phnewsmag-primary-text);
  font-weight: 700;
  letter-spacing: 0;
  background: var(--phnewsmag-primary);
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 5px;
  line-height: 11px;
}
.featured-module-style5 .small:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style5 .small:hover a h2 {
  color: var(--phnewsmag-primary);
}
.featured-module-style5 .bigger {
  position: relative;
}
.featured-module-style5 .bigger .category-ribbon {
  position: absolute;
  top: 0px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  z-index: 99;
}
.featured-module-style5 .bigger a {
  text-decoration: none;
}
.featured-module-style5 .bigger a h2 {
  font-size: 36px;
  font-weight: bold;
  color: var(--phnewsmag-text-dark);
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.featured-module-style5 .bigger img {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  width: 100%;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style5 .bigger h2 {
  margin-top: 10px;
}
.featured-module-style5 .bigger .footer-meta {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.6;
  color: var(--phnewsmag-text-light);
}
.featured-module-style5 .bigger:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style5 .bigger:hover a h2 {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .featured-module-style5 .bigger {
    margin-bottom: 10px;
  }
  .featured-module-style5 .bigger a h2 {
    font-size: 26px;
  }
  .featured-module-style5 .big a h2 {
    font-size: 15px;
    line-height: 20px;
  }
  .featured-module-style5 .small img {
    max-width: 55px;
  }
  .featured-module-style5 .small .featured-image {
    max-width: 65px;
  }
  .featured-module-style5 .small h2 {
    font-size: 14px;
  }
  .featured-module-style5 .small .footer-meta {
    font-size: 9px;
  }
}
/* featured layout 6 */
.featured-module-style6 .big {
  margin-bottom: 15px;
  position: relative;
}
.featured-module-style6 .big .category-ribbon {
  position: absolute;
  top: 7px;
  left: 7px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 11px;
  z-index: 99;
  text-decoration: none;
}
.featured-module-style6 .big a {
  display: block;
  color: #fff;
}
.featured-module-style6 .big .box-shadow {
  background: linear-gradient(1deg, rgba(249, 0, 0, 0.8), transparent, transparent);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.featured-module-style6 .big img {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  width: 100%;
}
.featured-module-style6 .big .footer-meta {
  position: absolute;
  bottom: 0;
  z-index: 6;
  padding: 5px 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.6;
}
.featured-module-style6 .big .entry-title {
  position: absolute;
  bottom: 15px;
  z-index: 6;
  padding: 5px 10px;
  font-size: 21px;
  line-height: 27px;
}
.featured-module-style6 .big:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style6 .big .entry-excerpt {
  color: var(--phnewsmag-text);
}
.featured-module-style6 .small {
  border: solid 1px var(--phnewsmag-background-darker);
  border-radius: 12px;
  padding: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featured-module-style6 .small .featured-image {
  max-width: 150px;
  position: relative;
}
.featured-module-style6 .small:last-child {
  border-bottom: none;
}
.featured-module-style6 .small a {
  text-decoration: none;
  display: block;
  overflow: auto;
  color: var(--phnewsmag-text-dark);
}
.featured-module-style6 .small img {
  max-width: 140px;
  height: auto;
  margin-right: 10px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style6 .small h2 {
  font-size: 16px;
  display: inline-block;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  position: relative;
  padding-bottom: 4px;
}
.featured-module-style6 .small h2::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--phnewsmag-text-dark)), to(var(--phnewsmag-text-dark)));
  background-image: linear-gradient(var(--phnewsmag-text-dark), var(--phnewsmag-text-dark));
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 0.3s ease-in;
  transition: background-size 0.3s ease-in;
  /* Change the transition timing above
				   to determine how long the animation takes.
				   Change the the timing function to adjust
				   the style of the animation. */
}
.featured-module-style6 .small h2:hover::before {
  background-size: 100% 2px;
}
.featured-module-style6 .small .footer-meta {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  color: var(--phnewsmag-text-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featured-module-style6 .small .footer-meta a {
  display: block;
}
.featured-module-style6 .small .footer-meta .category-text {
  color: var(--phnewsmag-primary-text);
  font-weight: 700;
  letter-spacing: 0;
  background: var(--phnewsmag-primary);
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 5px;
  line-height: 11px;
}
.featured-module-style6 .small:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style6 .small:hover a h2 {
  color: var(--phnewsmag-text-dark);
}
.featured-module-style6 .bigger {
  position: relative;
}
.featured-module-style6 .bigger .category-ribbon {
  position: absolute;
  top: 0px;
  left: 0px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  z-index: 99;
}
.featured-module-style6 .bigger a {
  text-decoration: none;
}
.featured-module-style6 .bigger a h2 {
  font-size: 30px;
  color: var(--phnewsmag-text-dark);
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.featured-module-style6 .bigger .entry-excerpt p,
.featured-module-style6 .bigger .entry-excerpt a {
  color: var(--phnewsmag-text);
}
.featured-module-style6 .bigger .entry-excerpt p:hover,
.featured-module-style6 .bigger .entry-excerpt a:hover {
  color: var(--phnewsmag-text);
}
.featured-module-style6 .bigger img {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  width: 100%;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style6 .bigger h2 {
  margin-top: 10px;
  position: relative;
}
.featured-module-style6 .bigger h2::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--phnewsmag-text-dark)), to(var(--phnewsmag-text-dark)));
  background-image: linear-gradient(var(--phnewsmag-text-dark), var(--phnewsmag-text-dark));
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 0.3s ease-in;
  transition: background-size 0.3s ease-in;
  /* Change the transition timing above
				   to determine how long the animation takes.
				   Change the the timing function to adjust
				   the style of the animation. */
}
.featured-module-style6 .bigger h2:hover::before {
  background-size: 100% 2px;
}
.featured-module-style6 .bigger .read-more {
  display: none;
}
.featured-module-style6 .bigger .footer-meta {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.6;
  color: var(--phnewsmag-text-light);
  margin-bottom: 16px;
}
.featured-module-style6 .bigger:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style6 .bigger:hover a h2 {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .featured-module-style6 .bigger {
    margin-bottom: 10px;
  }
  .featured-module-style6 .bigger a h2 {
    font-size: 26px;
  }
  .featured-module-style6 .big a h2 {
    font-size: 15px;
    line-height: 20px;
  }
  .featured-module-style6 .small img {
    max-width: 110px;
  }
  .featured-module-style6 .small .featured-image {
    max-width: 122px;
  }
  .featured-module-style6 .small h2 {
    font-size: 14px;
  }
  .featured-module-style6 .small .footer-meta {
    font-size: 9px;
  }
}
.featured-module-style7 .big {
  position: relative;
  margin-bottom: 15px;
}
.featured-module-style7 .big .category-ribbon {
  position: absolute;
  top: 0px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 11px;
  z-index: 99;
  text-decoration: none;
}
.featured-module-style7 .big a {
  display: block;
  color: #fff;
}
.featured-module-style7 .big .box-shadow {
  background: linear-gradient(1deg, rgba(249, 0, 0, 0.8), transparent, transparent);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.featured-module-style7 .big img {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  width: 100%;
}
.featured-module-style7 .big .footer-meta {
  position: absolute;
  bottom: 0;
  z-index: 6;
  padding: 5px 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.featured-module-style7 .big .entry-title {
  position: absolute;
  bottom: 15px;
  z-index: 6;
  padding: 5px 10px;
  font-size: 21px;
  line-height: 27px;
}
.featured-module-style7 .big:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style7 .small {
  border-bottom: solid 1px var(--phnewsmag-background-darker);
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.featured-module-style7 .small .featured-image {
  max-width: 175px;
}
.featured-module-style7 .small:last-child {
  border-bottom: none;
}
.featured-module-style7 .small a {
  text-decoration: none;
  display: block;
  overflow: auto;
  color: var(--phnewsmag-text-dark);
}
.featured-module-style7 .small img {
  max-width: 155px;
  height: auto;
  margin-right: 10px;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style7 .small h2 {
  font-size: 20px;
  display: inline-block;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.featured-module-style7 .small .footer-meta {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.8;
  color: var(--phnewsmag-text-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featured-module-style7 .small .footer-meta a {
  display: inline-block;
}
.featured-module-style7 .small .footer-meta .category-text {
  color: var(--phnewsmag-primary-text);
  font-weight: 700;
  letter-spacing: 0;
  background: var(--phnewsmag-primary);
  padding: 2px 5px;
  border-radius: 2px;
  margin-right: 5px;
  line-height: 11px;
}
.featured-module-style7 .small:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style7 .small:hover a h2 {
  color: var(--phnewsmag-primary);
}
.featured-module-style7 .bigger {
  position: relative;
  overflow: hidden;
}
.featured-module-style7 .bigger .category-ribbon {
  position: absolute;
  top: 0px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  z-index: 99;
}
.featured-module-style7 .bigger a {
  text-decoration: none;
}
.featured-module-style7 .bigger a h2 {
  font-size: 36px;
  color: var(--phnewsmag-text-dark);
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
}
.featured-module-style7 .bigger figure {
  overflow: hidden;
}
.featured-module-style7 .bigger img {
  max-width: 100%;
  -webkit-transition: all ease 0.6s;
  transition: all ease 0.6s;
  display: block;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1);
          transform: scale(1);
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style7 .bigger img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.featured-module-style7 .bigger h2 {
  margin-top: 10px;
}
.featured-module-style7 .bigger .entry-excerpt p {
  color: var(--phnewsmag-text);
}
.featured-module-style7 .bigger .entry-excerpt p:hover {
  color: var(--phnewsmag-text);
}
.featured-module-style7 .bigger .footer-meta {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--phnewsmag-text-light);
}
.featured-module-style7 .bigger:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style7 .bigger:hover a h2 {
  opacity: 0.8;
}
@media screen and (max-width: 767px) {
  .featured-module-style7 .bigger {
    margin-bottom: 10px;
  }
  .featured-module-style7 .bigger a h2 {
    font-size: 26px;
  }
  .featured-module-style7 .big a h2 {
    font-size: 15px;
    line-height: 20px;
  }
  .featured-module-style7 .small img {
    max-width: 80px;
  }
  .featured-module-style7 .small .featured-image {
    max-width: 100px;
  }
  .featured-module-style7 .small h2 {
    font-size: 14px;
  }
  .featured-module-style7 .small .footer-meta {
    font-size: 9px;
  }
}
.featured-module-style8 .big {
  margin-bottom: 15px;
  position: relative;
}
.featured-module-style8 .big .category-ribbon {
  position: absolute;
  top: 7px;
  left: 7px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 11px;
  z-index: 99;
  text-decoration: none;
}
.featured-module-style8 .big a {
  display: block;
  color: #fff;
}
.featured-module-style8 .big .box-shadow {
  background: linear-gradient(1deg, rgba(249, 0, 0, 0.8), transparent, transparent);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.featured-module-style8 .big img {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  width: 100%;
}
.featured-module-style8 .big .footer-meta {
  position: absolute;
  bottom: 0;
  z-index: 6;
  padding: 5px 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.featured-module-style8 .big .entry-title {
  position: absolute;
  bottom: 15px;
  z-index: 6;
  padding: 5px 10px;
  font-size: 21px;
  line-height: 27px;
}
.featured-module-style8 .big:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style8 .small {
  border-bottom: solid 1px var(--phnewsmag-background-darker);
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
.featured-module-style8 .small .featured-image {
  max-width: 100%;
}
.featured-module-style8 .small:last-child {
  border-bottom: none;
}
.featured-module-style8 .small a {
  text-decoration: none;
  display: block;
  overflow: auto;
  color: var(--phnewsmag-text-dark);
}
.featured-module-style8 .small img {
  width: 100%;
  height: auto;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1.5;
}
.featured-module-style8 .small h2 {
  font-size: 22px;
  display: inline-block;
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  margin: 7px 0px;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-bottom: 4px;
}
.featured-module-style8 .small h2::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--phnewsmag-text-dark)), to(var(--phnewsmag-text-dark)));
  background-image: linear-gradient(var(--phnewsmag-text-dark), var(--phnewsmag-text-dark));
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 0.3s ease-in;
  transition: background-size 0.3s ease-in;
}
.featured-module-style8 .small h2:hover::before {
  background-size: 100% 2px;
}
.featured-module-style8 .small .category-ribbon {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  z-index: 99;
}
.featured-module-style8 .small .footer-meta {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--phnewsmag-text-light);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.featured-module-style8 .small .footer-meta a {
  display: inline-block;
}
.featured-module-style8 .small:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style8 .small:hover a h2 {
  color: var(--phnewsmag-text-dark);
}
.featured-module-style8 .bigger {
  position: relative;
}
.featured-module-style8 .bigger .category-ribbon {
  position: absolute;
  top: 0px;
  left: 0px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  z-index: 99;
}
.featured-module-style8 .bigger a {
  text-decoration: none;
}
.featured-module-style8 .bigger a h2 {
  font-size: 36px;
  color: var(--phnewsmag-text-dark);
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-bottom: 4px;
}
.featured-module-style8 .bigger a h2::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(var(--phnewsmag-text-dark)), to(var(--phnewsmag-text-dark)));
  background-image: linear-gradient(var(--phnewsmag-text-dark), var(--phnewsmag-text-dark));
  background-size: 0 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  -webkit-transition: background-size 0.3s ease-in;
  transition: background-size 0.3s ease-in;
}
.featured-module-style8 .bigger a h2:hover::before {
  background-size: 100% 2px;
}
.featured-module-style8 .bigger p {
  color: var(--phnewsmag-text);
}
.featured-module-style8 .bigger p:hover {
  color: var(--phnewsmag-text);
}
.featured-module-style8 .bigger p a {
  color: var(--phnewsmag-text);
}
.featured-module-style8 .bigger p a:hover {
  color: var(--phnewsmag-text);
}
.featured-module-style8 .bigger .read-more {
  display: none;
}
.featured-module-style8 .bigger img {
  -webkit-transition: 0.4s all ease;
  transition: 0.4s all ease;
  width: 100%;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style8 .bigger h2 {
  margin-top: 10px;
}
.featured-module-style8 .bigger .footer-meta {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--phnewsmag-text-light);
}
.featured-module-style8 .bigger .footer-meta a {
  color: var(--phnewsmag-text-light);
}
.featured-module-style8 .bigger:hover img {
  -webkit-filter: brightness(0.8);
          filter: brightness(0.8);
}
.featured-module-style8 .bigger:hover a h2 {
  opacity: 0.8;
}
.featured-module-style9 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.featured-module-style9 .featured-post {
  position: relative;
}
.featured-module-style9 .featured-post .category-ribbon {
  position: absolute;
  top: 0px;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  text-transform: uppercase;
  padding: 5px 8px;
  border-radius: 2px;
  font-size: 11px;
  line-height: 11px;
  z-index: 99;
  text-decoration: none;
  opacity: 0.8;
}
.featured-module-style9 .big,
.featured-module-style9 .small {
  position: relative;
  margin-bottom: 20px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease;
}
.featured-module-style9 .big img,
.featured-module-style9 .small img {
  width: 100%;
  aspect-ratio: 1.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.featured-module-style9 .big .entry-title,
.featured-module-style9 .small .entry-title,
.featured-module-style9 .big .footer-meta,
.featured-module-style9 .small .footer-meta {
  position: absolute;
  padding-left: 15px;
  z-index: 6;
  color: var(--phnewsmag-primary-text);
}
.featured-module-style9 .big .entry-title,
.featured-module-style9 .small .entry-title {
  bottom: 25px;
  font-size: 18px;
  width: 80%;
}
.featured-module-style9 .big .footer-meta,
.featured-module-style9 .small .footer-meta {
  bottom: 0;
  padding-bottom: 10px;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--phnewsmag-primary-text);
}
.featured-module-style9 .big .box-shadow,
.featured-module-style9 .small .box-shadow {
  background: linear-gradient(45deg, var(--phnewsmag-text-dark), transparent);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 12px;
  right: 12px;
  z-index: 5;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}
.featured-module-style9 .big:hover .box-shadow,
.featured-module-style9 .small:hover .box-shadow {
  background: linear-gradient(-45deg, var(--phnewsmag-primary), transparent);
}
.featured-module-style9 .small .box-shadow {
  right: 12px;
}
.featured-module-style9 .small .entry-title {
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .featured-module-style9 img {
    width: 100%;
  }
  .featured-module-style9 .big .box-shadow {
    right: 12px;
  }
  .featured-module-style9 .big .entry-title,
  .featured-module-style9 .small .entry-title {
    font-size: 16px;
    line-height: 1.45em;
  }
}
