:root {
  --phnewsmag-primary: #f2095b;
  --phnewsmag-primary-text: #f9ffe7;
  --phnewsmag-background-main: #ffffff;
  --phnewsmag-background-darker: #eeeeee;
  --phnewsmag-secondary: #3d405b;
  --phnewsmag-secondary-dark: #33202a;
  --phnewsmag-secondary-text: #FFF;
  --phnewsmag-text-dark: #111;
  --phnewsmag-text: #555;
  --phnewsmag-text-light: #777;
  --phnewsmag-header-background: #000000;
  --phnewsmag-header-lighter: #222;
  --phnewsmag-header-text: #FFFFFF;
  --phnewsmag-menu-text: #e70051;
  --phnewsmag-title-text: #b70241;
  --phnewsmag-top-bar-text: #777777;
  --phnewsmag-top-bar-background: #ff1f6f;
  --phnewsmag-mobile-header-background: #FFFFFF;
  --phnewsmag-mobile-header-text: #222222;
  --phnewsmag-buy-now-btn: #39FFC0;
}
.single-style2 {
  border-bottom: var(--phnewsmag-background-darker) solid 1px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  margin-right: 25px;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .single-style2 {
    margin-right: 0;
  }
}
.single-style2 .entry-title {
  padding-bottom: 10px;
  font-size: 48px;
  line-height: 65px;
  font-weight: bold;
  filter: brightness(0.8);
}
@media screen and (max-width: 767px) {
  .single-style2 .entry-title {
    font-size: 26px;
    line-height: 36px;
  }
}
.single-style2 .post-thumbnail {
  text-align: center;
}
.single-style2 .entry-meta {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 1px;
}
.single-style2 .entry-meta a {
  font-weight: normal;
  color: var(--phnewsmag-secondary);
  text-decoration: none;
}
.single-style2 .entry-meta a:hover {
  color: var(--phnewsmag-secondary-dark);
}
.single-style2 .entry-meta .entry-meta-style2 {
  align-items: center;
  margin-bottom: 25px;
}
.single-style2 .entry-meta .author-avatar {
  max-width: 60px;
  padding-right: 0;
}
.single-style2 .entry-meta .author-avatar img {
  border-radius: 50%;
  border: solid 2px var(--phnewsmag-background-darker);
}
.single-style2 .entry-meta .byline,
.single-style2 .entry-meta .posted-on {
  display: block;
  font-size: 14px;
  text-transform: none;
  letter-spacing: 0;
  font-weight: 300;
}
.single-style2 .entry-meta .byline a,
.single-style2 .entry-meta .posted-on a {
  font-weight: 500;
}
.single-style2 .entry-content {
  font-weight: 400;
  color: var(--phnewsmag-text);
  line-height: 1.6em;
}
.single-style2 .entry-content a {
  font-weight: normal;
  color: var(--phnewsmag-primary);
  text-decoration: none;
  border-bottom: solid 1px var(--phnewsmag-secondary);
}
.single-style2 .entry-content a:hover {
  color: var(--phnewsmag-primary);
  border-bottom: solid 1px var(--phnewsmag-primary);
}
.single-style2 .entry-footer {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.single-style2 .entry-footer .cat-links,
.single-style2 .entry-footer .tags-links {
  display: inline-block;
}
.single-style2 .entry-footer .cat-links {
  margin-right: 5px;
}
.single-style2 .entry-footer .cat-links a {
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  display: inline-block;
  padding: 2px 6px;
  border-radius: 2px;
  font-weight: normal;
}
.single-style2 .entry-footer .cat-links a:hover {
  background: black;
  color: white;
}
.single-style2 .entry-footer .tags-links a {
  background: var(--phnewsmag-secondary);
  color: var(--phnewsmag-secondary-text);
  display: inline-block;
  padding: 2px 6px;
  border-radius: 2px;
  font-weight: normal;
}
.single-style2 .entry-footer .tags-links a:hover {
  background: black;
  color: white;
}
.single-style2 .post-navigation {
  padding: 10px 0px;
  margin: 25px 0;
  border-radius: 3px;
  font-size: 14px;
  border-top: solid 1px var(--phnewsmag-background-darker);
  border-bottom: solid 1px var(--phnewsmag-background-darker);
}
.single-style2 .post-navigation a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--phnewsmag-text-dark);
  font-weight: bold;
}
.single-style2 .post-navigation a:hover {
  color: var(--phnewsmag-primary);
}
.single-style2 .post-navigation a i.fa {
  font-size: 18px;
  color: var(--phnewsmag-primary);
}
.single-style2 .post-navigation .nav-previous i.fa {
  margin-right: 15px;
}
.single-style2 .post-navigation .nav-next i.fa {
  margin-left: 15px;
}
.single-style2 .post-navigation .nav-next a {
  justify-content: flex-end;
}
