:root {
  --phnewsmag-primary: #f2095b;
  --phnewsmag-primary-text: #fbfbfb;
  --phnewsmag-background-main: rgba(149, 157, 165, 0.2);
  --phnewsmag-background-darker: #eeeeee;
  --phnewsmag-secondary: #3d405b;
  --phnewsmag-secondary-dark: #33202a;
  --phnewsmag-secondary-text: #FFF;
  --phnewsmag-text-dark: #111;
  --phnewsmag-text: #555;
  --phnewsmag-text-light: #777;
  --phnewsmag-header-background: #000000;
  --phnewsmag-header-lighter: #222;
  --phnewsmag-header-text: #FFFFFF;
  --phnewsmag-menu-text: #e70051;
  --phnewsmag-title-text: #b70241;
  --phnewsmag-top-bar-text: #777777;
  --phnewsmag-top-bar-background: #ff1f6f;
  --phnewsmag-mobile-header-background: #FFFFFF;
  --phnewsmag-mobile-header-text: #222222;
  --phnewsmag-buy-now-btn: #39FFC0;
}
#social-menu a,
#social-menu-sidr a {
  content: "";
  width: 20px;
  position: relative;
  color: transparent;
}
#social-menu a:after,
#social-menu-sidr a:after {
  text-indent: 0;
  display: block;
  float: left;
  font-family: "Font Awesome 5 Brands";
  font-weight: 400;
  visibility: visible;
  font-size: 18px;
  position: absolute;
  top: 0;
}
#social-menu a[href*="dribbble.com"]:after,
#social-menu-sidr a[href*="dribbble.com"]:after {
  content: "\f17d";
  color: #ea4c89;
}
#social-menu a[href*="github.com"]:after,
#social-menu-sidr a[href*="github.com"]:after {
  content: "\f09b";
  color: black;
}
#social-menu a[href*="facebook.com"]:after,
#social-menu-sidr a[href*="facebook.com"]:after {
  content: "\f09a";
  color: #3b5998;
}
#social-menu a[href*="flickr.com"]:after,
#social-menu-sidr a[href*="flickr.com"]:after {
  content: "\f16e";
  color: #ff0084;
}
#social-menu a[href*="foursquare.com"]:after,
#social-menu-sidr a[href*="foursquare.com"]:after {
  content: "\f180";
  color: #0072b1;
}
#social-menu a[href*="plus.google.com"]:after,
#social-menu-sidr a[href*="plus.google.com"]:after {
  content: "\f0d5";
  color: #dd4b39;
}
#social-menu a[href*="instagram.com"]:after,
#social-menu-sidr a[href*="instagram.com"]:after {
  content: "\f16d";
  color: #517fa4;
}
#social-menu a[href*="linkedin.com"]:after,
#social-menu-sidr a[href*="linkedin.com"]:after {
  content: "\f0e1";
  color: #007bb6;
}
#social-menu a[href*="pinterest.com"]:after,
#social-menu-sidr a[href*="pinterest.com"]:after {
  content: "\f231";
  color: #cb2027;
}
#social-menu a[href*="reddit.com"]:after,
#social-menu-sidr a[href*="reddit.com"]:after {
  content: "\f231";
}
#social-menu a[href*="tumblr.com"]:after,
#social-menu-sidr a[href*="tumblr.com"]:after {
  content: "\f173";
  color: #32506d;
}
#social-menu a[href*="twitter.com"]:after,
#social-menu-sidr a[href*="twitter.com"]:after {
  content: "\f099";
  color: #00aced;
}
#social-menu a[href*="vimeo.com"]:after,
#social-menu-sidr a[href*="vimeo.com"]:after {
  content: "\f194";
  color: #aad450;
}
#social-menu a[href*="wordpress.com"]:after,
#social-menu-sidr a[href*="wordpress.com"]:after {
  content: "\f19a";
  color: #0073aa;
}
#social-menu a[href*="wordpress.org"]:after,
#social-menu-sidr a[href*="wordpress.org"]:after {
  content: "\f19a";
  color: #0073aa;
}
#social-menu a[href*="youtube.com"]:after,
#social-menu-sidr a[href*="youtube.com"]:after {
  content: "\f167";
  color: #bb0000;
}
#social-menu a[href*="mailto:"]:after,
#social-menu-sidr a[href*="mailto:"]:after {
  text-indent: 0;
  display: block;
  float: left;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0e0";
}
#social-menu a[href*="twitch.tv"]:after,
#social-menu-sidr a[href*="twitch.tv"]:after {
  content: "\f1e8";
  color: #6441A5;
}
#social-menu a[href$="/feed/"]:after,
#social-menu-sidr a[href$="/feed/"]:after {
  text-indent: 0;
  display: block;
  float: left;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f09e";
  color: #ff9900;
}
#masthead.style3 #top-bar {
  padding: 5px 0;
  color: var(--phnewsmag-top-bar-text);
  background: var(--phnewsmag-header-background);
}
#masthead.style3 #top-bar ul ul {
  display: none;
}
#masthead.style3 #top-bar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  word-wrap: normal;
}
#masthead.style3 #top-bar #top-bar-left {
  font-size: 12px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#masthead.style3 .top-bar-wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#masthead.style3 #top-menu li {
  display: inline;
}
#masthead.style3 #top-menu li a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  padding: 1px 10px;
  text-transform: uppercase;
  color: var(--phnewsmag-top-bar-text);
}
#masthead.style3 #top-menu li a:hover {
  color: var(--phnewsmag-primary);
  text-decoration: underline;
}
#masthead.style3 #top-bar-right {
  text-align: right;
}
#masthead.style3 #top-bar-right li {
  display: inline;
}
#masthead.style3 #top-bar-right li a {
  display: inline-block;
}
@media screen and (max-width: 1200px) {
  #top-search,
  #top-menu {
    display: none;
  }
}
#masthead.style3 #middle-bar {
  background: var(--phnewsmag-header-background);
}
#masthead.style3 #middle-bar .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#masthead.style3 #site-branding {
  padding: 5px 0;
  text-align: center;
  max-width: 320px;
}
#masthead.style3 #site-branding .custom-logo {
  max-height: 100px;
  width: auto;
}
#masthead.style3 #site-branding .site-title {
  text-align: center;
  margin-bottom: 0;
}
#masthead.style3 #site-branding .site-title a#title {
  color: var(--phnewsmag-title-text);
  font-size: 42px;
  font-weight: 800;
  text-decoration: none;
}
#masthead.style3 #site-branding .site-title a#title:hover {
  color: var(--phnewsmag-header-text);
}
#masthead.style3 .social-menu-wrapper {
  display: inline-block;
  padding: 5px;
  max-width: 250px;
}
#masthead.style3 .social-menu-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 35px;
  text-align: right;
}
#masthead.style3 .social-menu-wrapper ul li {
  display: inline;
}
#masthead.style3 .social-menu-wrapper ul li a {
  display: inline-block;
  height: 35px;
  width: 35px;
  overflow: hidden;
  background: var(--phnewsmag-header-lighter);
  border-radius: 50%;
}
#masthead.style3 .social-menu-wrapper ul li a::-moz-selection {
  color: var(--phnewsmag-header-lighter);
}
#masthead.style3 .social-menu-wrapper ul li a::selection {
  color: var(--phnewsmag-header-lighter);
}
#masthead.style3 .social-menu-wrapper ul li a:after {
  padding: 4px 9px;
  color: var(--phnewsmag-header-text);
}
#masthead.style3 .social-menu-wrapper ul li a:focus {
  outline: solid 1px var(--phnewsmag-primary);
}
#masthead.style3 .social-menu-wrapper a:hover:after {
  color: var(--phnewsmag-primary);
}
#masthead.style3 #top-search {
  text-align: right;
  max-width: 150px;
}
#masthead.style3 .search-form {
  display: inline-block;
  text-align: right;
  max-width: 100px;
}
#masthead.style3 .search-form button,
#masthead.style3 .search-form input[type=submit] {
  display: none;
}
#masthead.style3 .search-form input[type=search] {
  font-size: 14px;
  border: dotted 2px var(--phnewsmag-header-lighter);
  background: var(--phnewsmag-header-lighter);
  color: var(--phnewsmag-header-text);
}
#masthead.style3 .search-form input[type=search]:focus {
  outline: var(--phnewsmag-primary) solid 1px;
}
#masthead.style3 .search-form input[type=search]::-webkit-input-placeholder {
  color: var(--phnewsmag-header-text);
  opacity: 0.6;
}
#masthead.style3 .search-form input[type=search]::-moz-placeholder {
  color: var(--phnewsmag-header-text);
  opacity: 0.6;
}
#masthead.style3 .search-form input[type=search]:-ms-input-placeholder {
  color: var(--phnewsmag-header-text);
  opacity: 0.6;
}
#masthead.style3 .search-form input[type=search]::-ms-input-placeholder {
  color: var(--phnewsmag-header-text);
  opacity: 0.6;
}
#masthead.style3 .search-form input[type=search]::placeholder {
  color: var(--phnewsmag-header-text);
  opacity: 0.6;
}
#site-navigation {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#site-navigation a {
  color: var(--phnewsmag-menu-text);
  padding: 16px 12px;
  font-size: 14px;
  border-bottom: solid 2px transparent;
}
#site-navigation a:hover {
  border-bottom: solid 2px var(--phnewsmag-menu-text);
}
#site-navigation a:focus {
  outline: solid 1px var(--phnewsmag-primary);
}
#site-navigation ul {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#site-navigation ul.sub-menu {
  width: 200px;
  background: #fff;
  border: solid 1px #eee;
  border-bottom: none;
  border-top: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: left;
  font-size: 13px;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#site-navigation ul.sub-menu a {
  color: #444;
  font-size: 13px;
}
#site-navigation ul.sub-menu li {
  border-bottom: solid 1px #eee;
}
#site-navigation ul.sub-menu li a {
  padding: 6px 15px;
  text-transform: none;
}
#site-navigation ul.sub-menu li a:hover {
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
}
#site-navigation ul.sub-menu li:hover ul.sub-menu,
#site-navigation ul.sub-menu li.focus ul.sub-menu {
  left: 100%;
  border-left: none;
  border-top: none;
  font-size: 12px;
}
#site-navigation ul.sub-menu ul ul {
  display: none;
}
@media screen and (max-width: 1200px) {
  #site-navigation {
    width: 100%;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    min-width: 100%;
  }
  #site-navigation ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1200px) {
  #masthead.style3 #site-branding {
    margin: auto;
  }
}
#mobile-navigation {
  height: 100%;
  display: inline-block;
  float: left;
}
#mobile-navigation .menu-toggle {
  display: inline-block;
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  border: none;
}
#mobile-navigation .menu-toggle:focus {
  background: black;
  color: white;
}
#mobile-navigation #mobile-menu {
  display: none;
}
#mobile-navigation.toggled {
  position: fixed;
  z-index: 99999;
  width: 100%;
  background: var(--phnewsmag-primary);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#mobile-navigation.toggled #mobile-menu {
  display: block;
}
#mobile-navigation.toggled .menu-toggle {
  display: block;
  width: 100%;
  text-align: left;
  background: black;
  color: white;
}
#mobile-navigation.toggled .menu-toggle:focus {
  background: #111;
  color: white;
}
#mobile-navigation a {
  color: var(--phnewsmag-primary-text);
}
#mobile-navigation ul {
  margin: 0;
  padding: 0;
  text-align: left;
}
#mobile-navigation ul li {
  display: block;
}
#mobile-navigation ul li a {
  padding: 9px 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
#mobile-navigation ul ul {
  display: block;
  margin-left: 15px;
}
#mobile-navigation ul ul a {
  font-size: 13px;
  padding: 6px 15px;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  #site-navigation {
    display: block;
  }
  #site-navigation li {
    display: inline-block;
  }
  #site-navigation li a {
    padding: 12px 9px;
    font-size: 12px;
  }
}
#masthead-mobile {
  background: var(--phnewsmag-mobile-header-background);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 2px 10px var(--phnewsmag-background-darker);
          box-shadow: 0 2px 10px var(--phnewsmag-background-darker);
  border-bottom: solid 5px var(--phnewsmag-primary);
}
#masthead-mobile #site-branding-mobile {
  font-size: 18px;
}
#masthead-mobile #site-branding-mobile img {
  max-height: 40px;
  width: auto;
}
#masthead-mobile #site-branding-mobile .site-title {
  margin-bottom: 0;
}
#masthead-mobile #site-branding-mobile .site-title a {
  text-decoration: none;
  color: var(--phnewsmag-primary);
}
#masthead-mobile #sidr-toggle,
#masthead-mobile .search-toggle {
  color: var(--phnewsmag-mobile-header-text);
  font-size: 22px;
  padding: 10px 15px;
  opacity: 0.85;
}
#sidr input[type=submit] {
  display: none;
}
#sidr .search-form label {
  width: 100%;
}
#sidr .search-form {
  padding: 15px 0;
}
#sidr .search-form input[type=search] {
  margin-bottom: 0;
  background: #fbfbfb1a;
}
#sidr .sidr-social-menu-wrapper {
  background: #282323;
}
#sidr #social-menu-sidr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0;
}
#sidr #social-menu-sidr li {
  display: inline-block;
  border: none;
}
#sidr #social-menu-sidr a {
  height: 48px;
}
#sidr #close-menu {
  float: right;
  background: black;
  color: white;
  border: none;
  margin: 5px 14px;
  padding: 5px 10px;
}
#sidr .go-to-bottom,
#sidr .go-to-top {
  opacity: 0;
}
#sidr a:focus {
  outline: solid 1px var(--phnewsmag-primary);
}
#masthead.style3 {
  margin-bottom: 20px;
}
