#phnewsmag-img-container .phnewsmag-radio-img-img {
  border: 3px solid #DEDEDE;
  margin: 5px 5px 5px 0;
  cursor: pointer;
  border-radius: 3px;
  width: 150px;
}
#phnewsmag-img-container .phnewsmag-radio-img-selected {
  border: 3px solid #6cd774;
  border-radius: 3px;
}
input[type=checkbox]:before {
  content: '';
  margin: -3px 0 0 -4px;
}
.infobox .infobox_label {
  border-bottom: 3px solid #ddd;
  padding-bottom: 15px;
}
.infobox p {
  font-size: 16px;
  line-height: 28px;
}
.infobox p a {
  color: red;
}
#customize-control-phnewsmag-header-style #phnewsmag-img-container .phnewsmag-radio-img-img {
  width: 250px;
}
#customize-control-pixahive-header-image-message .customize-control-description {
  border: solid 1px #ccc;
  padding: 10px;
}
li.blog_layout_chooser,
li.sidebar_layout_chooser {
  width: 125px;
  margin-right: 10px;
  margin-bottom: -5px;
}
.customize-control-phnewsmag_custom_notice .customize-control-title {
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: solid 2px #ccc;
  font-size: 16px;
}
.customize-control-phnewsmag_custom_notice .customize-control-description {
  font-size: 14px;
  line-height: 28px;
}
.customize-control-phnewsmag_custom_notice .customize-control-description a {
  color: mediumvioletred;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
}
