:root {
  --phnewsmag-primary: #fe5825;
  --phnewsmag-primary-text: #f9ffe7;
  --phnewsmag-background-main: #ffffff;
  --phnewsmag-background-darker: #eaeaea;
  --phnewsmag-secondary: #fd4f18;
  --phnewsmag-secondary-dark: #33202a;
  --phnewsmag-secondary-text: #FFF;
  --phnewsmag-text-dark: #111;
  --phnewsmag-text: #555;
  --phnewsmag-text-light: #777;
  --phnewsmag-header-background: #fff;
  --phnewsmag-header-lighter: #222;
  --phnewsmag-header-text: #FFFFFF;
  --phnewsmag-menu-text: #ff582e;
  --phnewsmag-title-text: #fe5825;
  --phnewsmag-top-bar-text: #777777;
  --phnewsmag-top-bar-background: #000;
  --phnewsmag-mobile-header-background: #FFFFFF;
  --phnewsmag-mobile-header-text: #222222;
}
#footer-widgets {
  background: var(--phnewsmag-background-darker);
  padding: 20px 0;
  margin-top: 45px;
}
#footer-widgets .widget h2,
#footer-widgets .widget h3,
#footer-widgets .widget h4,
#footer-widgets .widget h1,
#footer-widgets .widget .widget-title {
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 10px;
  border-bottom: solid 2px var(--phnewsmag-background-darker);
}
#footer-widgets .widget ul,
#footer-widgets .widget ol {
  margin-left: 3px;
  padding-left: 0px;
  list-style: none;
}
#footer-widgets .widget li {
  padding: 8px 0;
  border-bottom: solid 1px var(--phnewsmag-background-darker);
}
#footer-widgets .widget li:last-child {
  border-bottom: none;
}
#footer-widgets .widget li a {
  color: var(--phnewsmag-text-light);
  text-decoration: none;
}
#footer-widgets .widget li a:hover {
  color: var(--phnewsmag-secondary-dark);
}
#footer-widgets .widget_block h1:only-child,
#footer-widgets .widget_block h2:only-child,
#footer-widgets .widget_block h3:only-child,
#footer-widgets .widget_block h4:only-child,
#footer-widgets .widget_block h5:only-child,
#footer-widgets .widget_block h6:only-child {
  margin-bottom: -40px;
}
.scroll-to-top {
  margin: 20px;
}
.scroll-to-top img {
  max-width: 30px;
  height: auto;
}
#colophon {
  background: var(--phnewsmag-primary);
  color: var(--phnewsmag-primary-text);
  padding: 15px;
  text-align: center;
}
#colophon a {
  color: var(--phnewsmag-primary-text);
  font-weight: bold;
  text-decoration: none;
}
